<main>
    <section class="hero">
        <article class="latest-main">
            <div class="latest-main-img">
                <img src="<%= data[0].Photo %>" alt="hero_img" onerror="this.src='assets/news-placeholder.png'">
            </div>
            <div class="article-content">
                <h2>
                    <%= data[0].Headline %>
                </h2>
            </div>
            <div class="caption">
                <% if (!data[0].Caption) {%>
                    <%= data[0].Story.slice(0,300)+'...' %>
                        <%} else {%>
                            <%= data[0].Caption.slice(0,300)+'...' %>
                                <%}%>
            </div>
            <div class="tagLines">
                <span class="dateline">
                    <%= data[0].Date %>
                </span>
                <span class="byline">-
                    <%if (data[0].ByLine) {%>
                        <%= data[0].ByLine %>
                            <%} else {%>
                                Times Of India
                                <%}%>
                </span>
            </div>
        </article>

        <% for (let i=1; i<=3;i++) { %>
            <article class="aside-articles">
                <div class="article-img">
                    <img src="<%= data[i].Photo %>" alt="No image could be displayed"
                        onerror="this.src='assets/news-placeholder.png'">
                </div>
                <div class="article-details">
                    <div>
                        <% if (data[i].Keywords[0]) {%>

                            <%}%>
                                <h2>
                                    <%= data[i].Headline %>
                                </h2>
                    </div>
                    <div class="caption">
                        <% if (!data[i].Caption) {%>
                            <%= data[i].Story.slice(0,150)+'...' %>
                                <%} else {%>
                                    <%= data[i].Caption.slice(0,150)+'...' %>
                                        <%}%>
                    </div>

                    <div class="tagLines">
                        <span class="dateline">
                            <%= data[i].Date %>
                        </span>
                        <span class="byline">-
                            <%if (data[i].ByLine) {%>
                                <%= data[i].ByLine %>
                                    <%} else {%>
                                        Times Of India
                                        <%}%>
                        </span>
                    </div>
                </div>

            </article>
            <% }%>

    </section>

</main>