<main>
    <section class="hero">
        <div class="hero-left-wrapper">
            <div class="hero-main-heading">
                <h1>BUSINESS</h1>
            </div>
            <section class="hero-left">
                <% for (let i=0; i<=7;i++) { %>
                    <article>
                        <img src="<%=leftData[i].Photo%>" alt="Article Image"
                            onerror="this.src='assets/news-placeholder.png'">
                        <div class="article-details">
                            <h2>
                                <%= leftData[i].Headline %>
                            </h2>
                            <div class="byline">
                                <span>
                                    <%= leftData[i].Date %>
                                </span>
                                <span>-Times Of India</span>
                            </div>
                        </div>
                    </article>
                    <%}%>
            </section>
        </div>
        <!-- HERO MIDDLE -->
        <div class="hero-main-wrapper">
            <div class="hero-main-heading">
                <h1>LATEST NEWS</h1>
            </div>
            <section class="hero-main">
                <div class="hero-main-left">
                    <div class="hero-main-left-img">
                        <img src="<%= data[0].Photo %>" alt="">
                    </div>
                    <div class="hero-main-left-details">
                        <h2 id="hlfontchange">
                            <%= data[0].Headline %>
                        </h2>
                        <p id="main-story">
                            <%- data[0].Story %>
                        </p>


                        <div class="byline">
                            <span>
                                <%= data[0].Date %>
                            </span>
                            <span>
                                -<%= data[0].ByLine %>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="hero-main-right">
                    <% for (let i=1; i<=4;i++) { %>
                        <article>
                            <img src="<%= data[i].Photo %>" alt="article-img"
                                onerror="this.src='assets/news-placeholder.png'">
                            <div class="article-details">
                                <h2>
                                    <%= data[i].Headline %>
                                </h2>
                                <div class="byline">
                                    <span>
                                        <%= data[i].Date %>
                                    </span>
                                    <span>
                                        -<%= data[i].ByLine %>
                                    </span>
                                </div>
                            </div>
                        </article>
                        <%}%>
                </div>

            </section>
        </div>

        <div class="hero-right"></div>
    </section>

</main>