<main>
    <section class="hero">
        <article class="latest-main">
            <div class="latest-main-img">
                <img src="<%= data[0].Photo %>" alt="hero_img" onerror="this.src='assets/news-placeholder.png'">

                <% if (data[0].Keywords[0]) {%>
                    <div class="tags">
                        <% for (let i=0; i<=2; i++) {%>
                            <div class="tag">
                                <%=data[0].Keywords[i]%>
                            </div>
                            <%}%>
                    </div>
                    <%}%>
            </div>
            <div class="article-content">
                <h2>
                    <%= data[0].Headline %>
                </h2>
                <div class="latest-main-caption">
                    <% if (!data[0].Caption) {%>
                        <%= data[0].Story.slice(0,300)+'...' %>
                            <%} else {%>
                                <%= data[0].Caption.slice(0,300)+'...' %>
                                    <%}%>
                </div>
            </div>

            <div class="tagLines">
                <span class="dateline">
                    <%= data[0].Date %>
                </span>
                <span class="byline">-
                    <%if (data[0].ByLine) {%>
                        <%= data[0].ByLine %>
                            <%} else {%>
                                Times Of India
                                <%}%>
                </span>
            </div>
        </article>

        <% for (let i=1; i<=3;i++) { %>
            <article class="aside-articles">
                <div class="article-img">
                    <img src="<%= data[i].Photo %>" alt="No image could be displayed"
                        onerror="this.src='assets/news-placeholder.png'">
                </div>
                <div class="article-details">
                    <div>
                        <% if (data[i].Keywords[0]) {%>
                            <div class="tags">
                                <% for (let j=0; j<=2; j++) {%>
                                    <div class="tag">
                                        <%=data[i].Keywords[j]%>
                                    </div>
                                    <%}%>
                            </div>
                            <%}%>
                                <h2>
                                    <%= data[i].Headline %>
                                </h2>
                    </div>

                    <div class="tagLines">
                        <span class="dateline">
                            <%= data[i].Date %>
                        </span>
                        <span class="byline">-
                            <%if (data[i].ByLine) {%>
                                <%= data[i].ByLine %>
                                    <%} else {%>
                                        Times Of India
                                        <%}%>
                        </span>
                    </div>
                </div>

            </article>
            <% }%>

    </section>

</main>