<%- include('header.ejs') %>
    <main>
        <%- include('hero.ejs') %>
            <%- include('business.ejs') %>
                <%- include('sub-hero.ejs') %>

    </main>
    <%- include('art-gallery.ejs') %>
        <%- include('footer.ejs') %>