<%- include('header.ejs') %>

    <div class="headline">
        <h1>Latest Headlines</h1>
    </div>
    <main>
        <section class="hero">
            <article class="latest-main">
                <div class="latest-main-img">
                    <img src="<%= data.NewsItem[0].Image.Photo %>" alt="hero_img"
                        onerror="this.src='assets/news-placeholder.png'">
                </div>

                <div class="tags">
                    <% for (let i=0; i<=2; i++) {%>
                        <div class="tag">
                            <%=tagsArr[0][i]%>
                        </div>
                        <%}%>
                </div>
                <h1>
                    <%= data.NewsItem[0].HeadLine %>
                </h1>
                <caption>
                    <%= data.NewsItem[0].Caption %>
                </caption>
                <div class="tagLines">
                    <span class="dateline">
                        <%= data.NewsItem[0].DateLine %>
                    </span>
                    <span class="byline">-<%= data.NewsItem[0].ByLine %></span>
                </div>
            </article>
            <% for (let i=1; i<=3;i++) { %>
                <article class="aside-articles">
                    <div class="article-img">
                        <img src="<%= data.NewsItem[i].Image.Photo %>" alt="No image could be displayed"
                            onerror="this.src='assets/news-placeholder.png'">
                    </div>
                    <div class="article-details">
                        <div class="tags">
                            <% for (let j=0; j<=2; j++) {%>
                                <div class="tag">
                                    <%=tagsArr[i][j]%>
                                </div>
                                <%}%>
                        </div>
                        <h1>
                            <%= data.NewsItem[i].HeadLine %>
                        </h1>
                    </div>
                </article>
                <% }%>

        </section>

    </main>



    <%- include('footer.ejs') %>