<%- include('header.ejs') %>

    <div class="headline">
        <h1>Latest Headlines</h1>
    </div>
    <main>
        <section class="hero">
            <article class="latest-main">
                <img src="<%= data.NewsItem[0].Image.Photo %>" alt="hero_img">
                <div class="tags">
                    <% for (let i=0; i<=2; i++) {%>
                        <div class="tag">
                            <%=tags[i]%>
                        </div>
                        <%}%>
                </div>
                <h1>
                    <%= data.NewsItem[0].HeadLine %>
                </h1>
                <caption>
                    <%= data.NewsItem[0].Caption %>
                </caption>
                <div class="tagLines">
                    <span class="dateline">
                        <%= data.NewsItem[0].DateLine %>
                    </span>
                    <span class="byline">-<%= data.NewsItem[0].ByLine %></span>
                </div>
            </article>
            <aside>
                <article class="aside-articles">
                    <div class="article-img">
                        <img src="<%= data.NewsItem[1].Image.Photo %>" alt="assets/news-placeholder.png">
                    </div>
                    <div class=" article-details">
                        <h1>
                            <%= data.NewsItem[1].HeadLine %>
                        </h1>
                    </div>
                </article>
                <article class="aside-articles">
                    <div class="article-img">
                        <img src="<%= data.NewsItem[2].Image.Photo %>" alt="image displaying the article">
                    </div>
                    <div class="article-details">
                        <h1>
                            <%= data.NewsItem[2].HeadLine %>
                        </h1>
                    </div>
                </article>
                <article class="aside-articles">
                    <div class="article-img">
                        <img src="<%= data.NewsItem[3].Image.Photo %>" alt="image displaying the article">
                    </div>
                    <div class="article-details">
                        <h1>
                            <%= data.NewsItem[3].HeadLine %>
                        </h1>
                    </div>
                </article>
            </aside>
        </section>

    </main>



    <%- include('footer.ejs') %>